<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
    <div class="max-w-3xl mx-auto mt-12 shadow-lg flex px-2 py-5 ">
        <div class="left p-14 w-[50%] ">
            <h1 class="text-4xl text-[#6540EA] font-bold">Make Your Account</h1>
            <p class="text-xl font-semibold mt-2">Your path to easier health management!
            </p>
            <a class="text-blue-900 mt-2" href="/user/login">Already User?</a>
        </div>
  <div class="right p-8 w-[50%] bg-[#F8F9FC] shadow-lg mb-3">
    <form action="/user/register" class="flex flex-col" method="POST">
        <p class="text-lg mb-2 font-medium">Sign Up</p>
     <input type="text" name="name" placeholder="Enter name" class="focus:outline-none p-2 w-full bg-white rounded-md  ">
     <input type="email" name="email" placeholder="Enter Email" class=" focus:outline-none mt-4 p-2 w-full bg-white rounded-md  ">
     <input type="password" name="password" placeholder="Enter password" class=" focus:outline-none mt-4 p-2 w-full bg-white rounded-md outline:outline-none ">
    <button class="p-2 rounded text-white mt-4 bg-[#6540EA]" type="submit">Register</button>
    </form>
  </div>
    </div>
</body>
</html>